<!DOCTYPE HTML>
<html>
<head>
<title>{$SiteName/}-{$SiteTitle/} &gt;&gt; 首页</title>
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="global">
{ZL.Label id="顶部标签"/}
<div id="ty_content">
<div id="content_main">
<div id="content_main_c">

<div id="main_b_l_t">
<span><a href="{ZL:GetNodeListUrl(22)/} " target="{ZL:GetNodeOpen(22)/}">更多...</a></span> 剑侠世界cdkey
</div>
<div id="main_b_l_m">
<ul>
{ZL.Label id="输出指定节点标题_无时间属性" NodeID="22" TitleNum="35" ShowNum="13" /}
</ul>

</div>

</div>
<div id="content_main_c">

<div id="main_b_l_t">
<span><a href="{ZL:GetNodeListUrl(23)/}" target="{ZL:GetNodeOpen(23)/}">更多...</a></span> 反恐行动cdkey
</div>
<div id="main_b_l_m">
<ul>
{ZL.Label id="输出指定节点标题_无时间属性" NodeID="23" TitleNum="35" ShowNum="13" /}
</ul>

</div>


</div>
</div>

<div id="content_main_r">
<table>
{ZL.Label id="在线留言调用标签"/}
</table>
{Pub.ZXLY/}
</div>
</div>
<div class="clear"></div>
{ZL.Label id="底部"/}
</div>
</body>
</html>